backend {
  # Override the default backend.
  default: docker

  # The list of providers.
  providers: {
    docker {
      actor-factory = "cromwell.backend.impl.sfs.config.ConfigBackendLifecycleActorFactory"
      config {
        run-in-background = true
        runtime-attributes = "String docker"
        submit-docker = "docker run --rm -v ${cwd}:${docker_cwd} -u $(id -u):$(id -g) -i ${docker} /bin/bash < ${docker_script}"
      }
    }
  }
}

call-caching {
    enabled = true
}
