backend {
    default: singularity

    providers: {
        singularity {
            actor-factory = "cromwell.backend.impl.sfs.config.ConfigBackendLifecycleActorFactory"
            config {
                run-in-background = true
                runtime-attributes = "String docker"
                submit-docker = """
                    if [ -z $SINGULARITY_CACHEDIR ]; then 
                        CACHE_DIR=$HOME/.singularity/titan-cache
                    else 
                        CACHE_DIR=$SINGULARITY_CACHEDIR
                    fi
                    RENAMED=$(echo ${docker} | sed 's=[/:]=-=g')
                    IMAGE=$CACHE_DIR/$RENAMED.img
                    if [[ ! -f $IMAGE ]]; then
                        # Build the image
                        singularity build $IMAGE docker://${docker}
                    fi
                    singularity exec --bind ${cwd}:${docker_cwd} $IMAGE /bin/bash ${script}
                """
            }
        }
    }
}

call-caching {
    enabled = true
}
